{% extends 'base.html' %}

{% block content %}

<h5 style="color: black;">Where to go?</h5>

<h5 class="p2">

The Healthish community enjoys places that offer a variety of fresh produce and that help local businesses. 
Farmer's markets around New York City offer a farm to table experience, yet not everybody can afford $7 organic
blueberries. It's not about where you go, but what can you do with what you have. Shop local, seasonal, and 
remember that 'good' is different for everybody. 

</h5>


 {% endblock %}